[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupysql = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pandas = "*"
numpy = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
# python_full_version = "3.10.6"
